{% extends 'base.html.twig' %}

{% block title %}monCV{% endblock %}

{% block body %}
  <h1>{% trans %}Bonjour, voici mon CV{% endtrans %}</h1>
  <h2>{% trans %}Je m'appelle Luke et je suis en BTS {% endtr %}</h2>
{% endblock %}